body {
    margin: 0px;
}

body {
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.left {
    display: flex;
}

.nav-box > .left > div {
    margin-right: 22px;
    font size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrap {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrap a {
    color: teal;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrap:hover {
    border-bottom: 1px solid rgb(8, 53, 45);
}

.nav-link-wrap a:hover {
    color: rgb(8, 53, 45);
}

.right {
    text-transform: uppercase;
    font-family:Impact;
    color: rgb(255, 72, 0);
}

.images-wrap {
    display: grid;
    grid-template-columns: 0.9fr 0.9fr;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.image-wrap {
    position: relative;
}

.image-background {
    background-position: center;
    background-repeat: no-repeat;
}

.subtitle-wrap {
    position: absolute;
    top: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    text-align: center;
    padding-left: 180px;
    padding-right: 110px;
}

.logo-wrap {
    width: 50%;
    margin-bottom: 20px;
}

.subtitle-wrap {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.subtitle-wrap:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.subtitle-wrap a {
    font-family:Impact;
    font-weight: bold;
    color: rgba(16, 134, 0, 0.705);
    transition: 0.5s;
}

.img-text-wrap:hover .subtitle-wrap a {
    color: rgba(47, 255, 0, 0.918) ;
}

.img-darken {
    transition: 1.5s;
    filter: brightness(30%);
}

.vid {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 86%;
}

video {
    width: 100%;
    height: 630px;
}

